# Data Science Ecosystem

##### In this notebook, data science tools and ecosystem are summarized

**Objectives**:

* List popular languages for Data Science
* Getting started with Python
* Getting started with RStudio
* Jupyter Notebook
* What is Anaconda Framework

##### Some of the popular languages that Data Scientists use are:
1. Julia
2. Python
3. R

##### Some of the commonly used librari3es by data scientists are
1. ggplot
2. caret
3. dplyr
4. stringr

|Data Science Tools|
--------------------
|Rstudio|
|JupyterNotebook|
|Spyder|

### Below are few examples of evaluating arithmetic expression in Python.

###### This is a simple arithmetic expression to multiply then add integers

In [1]:
( 3 * 4 ) + 5

17

###### This will convert 200 minutes to hours by dividing by 60

In [2]:
200 / 60

3.3333333333333335

## Author
Aman